{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>Основные принципы</h3>
    <hr>
    <h4 Мы должны быть честными, справедливыми и бесстрашными при сборе, представлении и интерпретации информации.
    <br> Мы несем ответственность перед нашими читателями, слушателями, зрителями и друг перед другом.
    <br> Мы твердо отстаиваем нашу редакционную независимость.
    <br> Мы используем объективные данные и исследования для информирования нашей журналистики. Вся наша редакционная продукция проверена фактами.
    <br> Мы открыто применяем классические либеральные ценности в наших отчетах и анализе.
    <br> Мы прозрачны в отношении конфликтов интересов (см. ниже). Как анонимная газета, мы должны быть особенно безупречны.
    <br>
    </h4>

{{ flatpage.content }}
{% endblock content %}