<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %} <!-- не забываем заранее загружать наши фильтры! -->
<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>ВСЕ НОВОСТИ</h1>
    <h3>{{ time_now|date:'d E Y | H:i:s '}}</h3>

    <hr>
    {% if posts %} <!-- Выводим новости только, если они есть с помощью тега if -->
        <table>
            <tr>
                <td>
                    <b>Заголовок</b>
                </td>
                <br>
                <td>
                    <b>Дата создания</b>
                </td>
                <td>
                    <b>Описание</b>
                </td>
                <td>
                    <b>Рейтинг</b>
                </td>
            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.title  }}
                </td>
                <td>
                    {{ post.dateCreation }}
                </td>
                <td>
                    {{ post.text | truncatechars:50}}
                </td>
                <td>
                    {{ post.rating }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %} <!-- Если новостей нет, то говорим, что их нет ;) -->
        <h2>Пока новостей нет!</h2>
    {% endif %}
{% endblock content %}
